extents content
  h1 View Student
  table
    tbody
      tr
        td(colspan='2')= student.name
      tr
        td Avg:
        td= student.avg()
      tr
        td Letter
        td= student.letter()
      tr
        td Suspended
        td= student._suspended.suspended
      tr
        td Honor Roll
        td= student._honorRoll.honor
      tr
        td(colspan='2')
          form(method='get', action='/students/#{student._id}/test')
            button Add Test
  #test
    each test in student.tests
   .testscore(style='height:#{test}px;background-color:#{student.gradeColor(test)};')
